.DS_store
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/config/database.yml
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
/node_modules
.env
.byebug_history
.idea
public/javascripts/*
public/assets/
