<div class="row">
  <div class="col">
    <%= simple_form_for(@task, url: task_path(board_id: params[:board_id], step_id: params[:step_id]),
                        remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
      <% content_for :title do %>
        <%= content_for(:title) do %>
          <%= t('.title') %>
        <% end %>
      <% end %>

      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
